export POSTGRES_NAME='event_management'
export POSTGRES_USER='postgres'
export POSTGRES_PASSWORD='testdb'
export PYTHONDONTWRITEBYTECODE=1
export POSTGRES_HOST='localhost'
export POSTGRES_PORT=5432
export EMAIL_PORT= 587
export EMAIL_HOST_USER='offlineattendance@gmail.com'
export EMAIL_HOST_PASSWORD='fblnrdznsadlecbe'